Based on the chosen KPIs, how does the new design’s performance compare to the old one?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [ ]:
# KPI Completion Rate: The proportion of users who reach the final ‘confirm’ step.

In [2]:
total_confirm_t = 17862
total_users_t = 33158
completion_test = round((total_confirm_t/total_users_t)*100,2)
completion_test

53.87

In [4]:
total_confirm_c = 14833
total_users_c = 30911
completion_ctrl = round((total_confirm_c/total_users_c)*100,2)
completion_ctrl

47.99

In [35]:
kpi = ['Ctrl_completion', 'Test_completion']
results = [47.99, 53.87]
confirm = [14833, 17862]
users = [30911, 33158]
df = pd.DataFrame({'KPI': kpi, 'Results': results, 'Confirm': confirm , 'Total_users': users })

In [36]:
df

               KPI  Results  Confirm  Total_users
0  Ctrl_completion    47.99    14833        30911
1  Test_completion    53.87    17862        33158

In [37]:
df = df.set_index('KPI', inplace=False)

In [38]:
df

                 Results  Confirm  Total_users
KPI
Ctrl_completion    47.99    14833        30911
Test_completion    53.87    17862        33158

In [ ]:
# KPI Time Spent on Each Step: The average duration users spend on each step

Variation: Control
          Transition  Average Duration (seconds)
0    start_to_step_1                   64.306905
1   step_1_to_step_2                   50.576086
2   step_2_to_step_3                  110.146508
3  step_3_to_confirm                  168.500918


Variation: Test
          Transition  Average Duration (seconds)
0    start_to_step_1                   52.481851
1   step_1_to_step_2                   76.060627
2   step_2_to_step_3                  107.843462
3  step_3_to_confirm                  143.410847

In [23]:
transition = ["start_to_step_1", "step_1_to_step_2", "step_2_to_step_3", "step_3_to_confirm"]
control = [64.306905, 50.576086, 110.146508, 168.500918]
test = [52.481851, 76.060627, 107.843462, 143.410847]
df_t = pd.DataFrame({'Transition': transition, 'Control': control, 'Test': test})

In [24]:
df_t

          Transition     Control        Test
0    start_to_step_1   64.306905   52.481851
1   step_1_to_step_2   50.576086   76.060627
2   step_2_to_step_3  110.146508  107.843462
3  step_3_to_confirm  168.500918  143.410847

In [ ]:
# KPI Error Rates: If there’s a step where users go back to a previous step, it may indicate confusion or an error. You should consider moving from a later step to an earlier one as an error.

Error rates by Variation:
  Variation  total_steps  backward_steps  error_rate
0   Control        93502            9504    0.101645
1      Test       119375           16194    0.135657

In [49]:
kpi = ['Ctrl_error', 'Test_error']
error_rate = [round(0.101645*100,2), round(0.135657*100,2)]
backward_steps = [9504, 16194 ]
total_steps = [93502, 119375]
df_s = pd.DataFrame({'KPI': kpi, 'error_rate': error_rate, 'backward_steps': backward_steps , 'total_steps': total_steps })

In [50]:
df_s = df_s.set_index('KPI', inplace=False)
df_s

            error_rate  backward_steps  total_steps
KPI
Ctrl_error       10.16            9504        93502
Test_error       13.57           16194       119375

In [51]:
# gráficas

In [52]:
df

                 Results  Confirm  Total_users
KPI
Ctrl_completion    47.99    14833        30911
Test_completion    53.87    17862        33158

In [53]:
df_s

            error_rate  backward_steps  total_steps
KPI
Ctrl_error       10.16            9504        93502
Test_error       13.57           16194       119375

In [54]:
df_t

          Transition     Control        Test
0    start_to_step_1   64.306905   52.481851
1   step_1_to_step_2   50.576086   76.060627
2   step_2_to_step_3  110.146508  107.843462
3  step_3_to_confirm  168.500918  143.410847