In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/KLoVi/vanguard-ab-test/main/Datasets_cleaned/merged_dataframeSF_gendr2.csv")

In [7]:
df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,age_group
0,836976,6.083333,73.0,60.5,Unknown,2.0,45105.30,6.0,9.0,Test,61-70
1,2304905,7.833333,94.0,58.0,Unknown,2.0,110860.30,6.0,9.0,Control,51-60
2,1439522,5.333333,64.0,32.0,Unknown,2.0,52467.79,6.0,9.0,Test,31-40
3,1562045,16.500000,198.0,49.0,Male,2.0,67454.65,3.0,6.0,Test,41-50
4,5126305,12.083333,145.0,33.0,Female,2.0,103671.75,0.0,3.0,Control,31-40
...,...,...,...,...,...,...,...,...,...,...,...
50482,1780858,21.833333,262.0,68.5,Male,3.0,372100.59,6.0,9.0,Test,61-70
50483,6967120,21.666667,260.0,68.5,Male,3.0,4279873.38,6.0,9.0,Control,61-70
50484,5826160,20.750000,249.0,56.5,Female,2.0,44837.16,2.0,5.0,Test,51-60
50485,8739285,19.083333,229.0,69.5,Female,2.0,44994.24,1.0,4.0,Test,61-70
50486,7468138,18.500000,222.0,61.0,Female,3.0,209278.15,0.0,3.0,Test,61-70

In [ ]:
df_merged =