Digital Footprints (df_final_web_data): A detailed trace of client interactions online, divided into two parts: pt_1 and pt_2. It’s recommended to merge these two files prior to a comprehensive data analysis.

Metadata
This comprehensive set of fields will guide your analysis, helping you unravel the intricacies of client behavior and preferences.

client_id: Every client’s unique ID.
variation: Indicates if a client was part of the experiment.
visitor_id: A unique ID for each client-device combination.
visit_id: A unique ID for each web visit/session.
process_step: Marks each step in the digital process.
date_time: Timestamp of each web activity.
clnt_tenure_yr: Represents how long the client has been with Vanguard, measured in years.
clnt_tenure_mnth: Further breaks down the client’s tenure with Vanguard in months.
clnt_age: Indicates the age of the client.
gendr: Specifies the client’s gender.
num_accts: Denotes the number of accounts the client holds with Vanguard.
bal: Gives the total balance spread across all accounts for a particular client.
calls_6_mnth: Records the number of times the client reached out over a call in the past six months.
logons_6_mnth: Reflects the frequency with which the client logged onto Vanguard’s platform over the last six months.

In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

pd.set_option('display.max_rows', 500)

%matplotlib inline

In [31]:
pt_1 = "https://raw.githubusercontent.com/KLoVi/vanguard-ab-test/main/Datasets_raw/df_final_web_data_pt_1.txt"

In [32]:
pt_2 = "https://raw.githubusercontent.com/KLoVi/vanguard-ab-test/main/Datasets_raw/df_final_web_data_pt_2.txt"

In [33]:
df_1 = pd.read_csv(pt_1)

In [34]:
df_1.head(20)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43
10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:40
11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:24
12,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:06
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03
14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:01
15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:52
16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:08
17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:43
18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:24:12
19,4033851,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:24:04

In [35]:
df_2 = pd.read_csv(pt_2)

In [36]:
df_2.head(20)

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
5,6019349,442094451_91531546617,154620534_35331068705_522317,start,2017-06-01 11:57:54
6,4726500,934350987_45569789638,467318052_88159801968_565608,confirm,2017-06-05 17:38:52
7,4726500,934350987_45569789638,467318052_88159801968_565608,step_3,2017-06-05 17:38:33
8,4726500,934350987_45569789638,467318052_88159801968_565608,step_2,2017-06-05 17:37:31
9,4726500,934350987_45569789638,467318052_88159801968_565608,step_1,2017-06-05 17:37:24
10,4726500,934350987_45569789638,467318052_88159801968_565608,start,2017-06-05 17:37:16
11,2604484,403124303_66054292858,839120079_63294408771_355112,confirm,2017-06-05 17:13:38
12,9723244,159724599_74688076986,246088042_56009027918_726234,confirm,2017-06-01 15:04:09
13,4757483,368845273_83104011691,577583395_82876359150_125129,confirm,2017-06-01 15:02:21
14,9723244,159724599_74688076986,246088042_56009027918_726234,step_3,2017-06-01 15:02:13
15,4757483,368845273_83104011691,577583395_82876359150_125129,step_3,2017-06-01 15:01:48
16,4757483,368845273_83104011691,577583395_82876359150_125129,step_2,2017-06-01 15:00:41
17,9723244,159724599_74688076986,246088042_56009027918_726234,step_2,2017-06-01 15:00:40
18,9723244,159724599_74688076986,246088042_56009027918_726234,step_1,2017-06-01 15:00:25
19,9723244,159724599_74688076986,246088042_56009027918_726234,start,2017-06-01 15:00:22

In [37]:
df_merged = pd.concat([df_1, df_2], axis=0)

In [38]:
df_merged.shape

(755405, 5)

In [39]:
df_merged

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [40]:
df_merged.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [41]:
# Initially we had 10,764 duplicated rows; Clean duplicates: eliminate them.

df_merged.duplicated().sum()

10764

In [42]:
df_merged.drop_duplicates(inplace=True)

In [43]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 744641 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     744641 non-null  int64
 1   visitor_id    744641 non-null  object
 2   visit_id      744641 non-null  object
 3   process_step  744641 non-null  object
 4   date_time     744641 non-null  object
dtypes: int64(1), object(4)
memory usage: 34.1+ MB

In [44]:
# Change date_time like object to datetime type

In [45]:
df_merged["date_time"] = pd.to_datetime(df_merged.date_time)

In [46]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 744641 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     744641 non-null  int64
 1   visitor_id    744641 non-null  object
 2   visit_id      744641 non-null  object
 3   process_step  744641 non-null  object
 4   date_time     744641 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.1+ MB

In [ ]:
df_merged.nunique()

# 120,157 clients -unique values
# 130,236 visitor_id: algunos clientes usaron más de un device para ingresar a la plataforma
# 158,095 visit_id: some clients visit the platform more than one time.

In [ ]:
df_merged.process_step.unique()

In [ ]:
df_merged["year"] = df_merged["date_time"].dt.year

In [ ]:
df_merged

In [ ]:
df_merged.shape

In [ ]:
df_merged["year"] = df_merged["date_time"].dt.year
df_merged["month"] = df_merged["date_time"].dt.month
df_merged["day"] = df_merged["date_time"].dt.day
df_merged["time"] = df_merged["date_time"].dt.time

In [ ]:
df_merged

In [ ]:
df_merged.head(20)

In [ ]:
df_merged.year.unique()

In [ ]:
df_merged.month.unique()

Next, carry out a client behaviour analysis to answer any additional relevant questions you think are important.

In [ ]:
df_clients = df_merged.groupby(["client_id"])[["process_step"]].count()

In [ ]:
df_clients

In [ ]:
sns.countplot(data = df_clients, x='process_step', palette="Set3")

In [ ]:
pivot_month_clients = pd.pivot_table(df_merged, values = "process_step" , index= ["client_id"] , columns = ["month"], aggfunc = "count", fill_value=0, margins = True, margins_name = 'Total')

In [ ]:
pivot_month_clients

In [ ]:
df_month_unique = df_merged.groupby("month")[["client_id"]].nunique()

In [ ]:
df_month_unique

In [ ]:
df_month_unique.sum() ## 120,157 clients -unique values

In [ ]:
sns.barplot(x=df_month_unique.index, y=df_month_unique["client_id"], palette="Set3");

In [ ]:
df_step_unique = df_merged.groupby("process_step")[["client_id"]].nunique()

In [ ]:
df_step_unique

In [ ]:
index_steps = ['start', 'step_1', 'step_2', 'step_3', 'confirm']

df_step_unique.index = pd.Categorical(df_step_unique.index, categories=index_steps, ordered=True)

df_step_unique = df_step_unique.sort_index()

df_step_unique

In [ ]:
sns.barplot(x=df_step_unique.index, y=df_step_unique["client_id"], palette="Set3");

In [ ]:
df_merged.to_csv("/Users/karollvivianalopezvillegas/GitHub/vanguard-ab-test/Datasets_cleaned/df_final_clients.csv")