In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

pd.set_option('display.max_rows', 500)

%matplotlib inline

In [4]:
url = "https://raw.githubusercontent.com/KLoVi/vanguard-ab-test/main/Datasets_raw/df_final_experiment_clients.txt"

In [5]:
df = pd.read_csv(url)

In [11]:
df.head(5)

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [7]:
df.shape # same amout of client_id than demo data frame

(70609, 2)

In [8]:
df.isnull().sum() #20,109 null values, we eliminated

client_id        0
Variation    20109
dtype: int64

In [13]:
df.dropna(inplace = True)

In [14]:
df.isnull().sum()

client_id    0
Variation    0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [15]:
df.nunique() # we will work with 50,500 of clients

client_id    50500
Variation        2
dtype: int64

In [20]:
frequency_table = df['Variation'].value_counts()
frequency_table

Variation
Test       26968
Control    23532
Name: count, dtype: int64

In [24]:
proportion_table = round(df['Variation'].value_counts(normalize=True)*100,2)
proportion_table

Variation
Test       53.4
Control    46.6
Name: proportion, dtype: float64