In [14]:
#Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

df = pd.read_csv("https://raw.githubusercontent.com/KLoVi/vanguard-ab-test/main/Datasets_cleaned/df_demo_cleaned.csv")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50487 entries, 0 to 50486
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         50487 non-null  int64
 1   clnt_tenure_yr    50487 non-null  float64
 2   clnt_tenure_mnth  50487 non-null  float64
 3   clnt_age          50487 non-null  float64
 4   gendr             50487 non-null  object
 5   num_accts         50487 non-null  float64
 6   bal               50487 non-null  float64
 7   calls_6_mnth      50487 non-null  float64
 8   logons_6_mnth     50487 non-null  float64
 9   Variation         50487 non-null  object
 10  age_group         50487 non-null  object
dtypes: float64(7), int64(1), object(3)
memory usage: 4.2+ MB

In [42]:
df.nunique()

client_id           50487
clnt_tenure_yr        469
clnt_tenure_mnth      469
clnt_age              158
gendr                   4
num_accts               7
bal                 50311
calls_6_mnth            7
logons_6_mnth           7
Variation               2
age_group               6
dtype: int64

In [21]:
df_test = df[df["Variation"]=="Test"]["clnt_age"]

In [22]:
df_test

0        60.5
2        32.0
3        49.0
7        57.5
9        54.5
         ...
50479    35.0
50482    68.5
50484    56.5
50485    69.5
50486    61.0
Name: clnt_age, Length: 26961, dtype: float64

In [29]:
df_ctrl = df[df["Variation"]=="Control"]["clnt_age"]

In [30]:
df_ctrl

1        58.0
4        33.0
5        30.5
6        58.5
8        67.5
         ...
50473    36.0
50478    48.0
50480    57.0
50481    62.5
50483    68.5
Name: clnt_age, Length: 23526, dtype: float64

In [39]:
#Set the hypothesis

#H0: avg_test = avg_ctrl
#H1: avg_test != avg_ctrl 

#significance level = 0.05

In [40]:
t_stat, p_value = ttest_ind(df_test, df_ctrl, equal_var=False, alternative='two-sided')

# Output the results
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

# Determine significance
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a statistically significant difference between the average age of clients engaging with the new process compared with the old process.")
else:
    print("Fail to reject the null hypothesis: There is no statistically significant difference between the average age of clients engaging with the new process compared with the old process.")

T-statistic: -2.416068061200627
P-value: 0.015692719461388675
Reject the null hypothesis: There is a statistically significant difference between the average age of clients engaging with the new process compared with the old process.

In [32]:
df_ctrl.mean()

47.498427271954434

In [33]:
df_test.mean()

47.16392196135158

In [34]:
df_ctrl.isnull().sum()

0

In [35]:
df_test.isnull().sum()

0

In [47]:
perc_test = len(df_test)/(len(df_test)+len(df_ctrl))
perc_test*100

53.40186582684652

In [48]:
perc_ctrl = len(df_ctrl)/(len(df_test)+len(df_ctrl))
perc_ctrl*100

46.59813417315348

In [ ]:
df_test_gender = df[df["Variation"]=="Test"]["clnt_age"]

In [49]:
df.gendr.value_counts()

gendr
U    17280
M    16947
F    16258
X        2
Name: count, dtype: int64